body {
    margin: 3em;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    box-sizing: border-box;
}

input[type=text] {
    display: inline-block;
    font-size: 20px;
    width: 100%;
    margin-bottom: 1em;
    height: 2em;
    padding-left: 1em;
    margin-right: 2em;
}

input[type=submit] {
    width: 100%;
    background-color: transparent;
    border-color: darkcyan;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    height: 2em;
    font-weight: bolder;
    font-size: 2em;
}

input[type=submit]:hover {
    background-color: rgb(0, 189, 189);
}